* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-shadow: 0px 5px 5px 1px rgb(221, 219, 219);
}

#logo {
    font-size: 40px;
    font-weight: 700;
}

#menus {
    display: flex;
    justify-content: space-between;
}
#menus li {
    padding: 0 1rem;
    list-style: none;
}

#login-btns button {
    padding: 0.5rem 1rem;
    border-radius: 0.65rem;
    border: 1px solid grey;
    background-color: transparent;
}

.section {
    padding: 4rem;
    background-color: rgba(117, 201, 117, .3);
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}

.hero-section h1 {
    font-size: 50px;
}
.hero-section p {
    font-size: 20px;
    margin-top: 1rem;
}

.hero-section img {
    border-radius: 1rem;
}